.packages .overdue,
.packages .expired {
  color: #a52323; }

.packages .active {
  color: #287a00; }

@media screen and (max-width: 767px) {
  .packages div.table-cell > div.name {
    width: 50% !important; } }

.package__frame {
  width: 470px;
  border: 2px var(--plans-border-color) solid;
  padding: 15px;
  border-radius: 12px; }
  @media screen and (max-width: 767px) {
    .package__frame {
      width: auto; } }
  .package__frame div.table-cell.small {
    white-space: nowrap; }
    .package__frame div.table-cell.small > div.name {
      white-space: normal;
      flex-basis: auto !important;
      max-width: none; }

.package__stats div.table-cell > div.name {
  max-width: none;
  width: auto; }

.package__stats div.table-cell > div.value {
  word-wrap: normal; }

.package__name {
  color: var(--body-font-color);
  font-size: 1.286em;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.package__price {
  color: var(--body-font-color);
  font-size: 2.429em;
  font-weight: normal; }

.package__listing-info div.table-cell.small > div.name {
  width: 135px; }

@media screen and (max-width: 767px) {
  .package__stats {
    padding: 15px; } }
