.news-article__views {
  width: 16px; }

.news-article__pic-cont {
  padding-bottom: 66%; }
  .news-article__pic-cont img {
    object-fit: cover;
    background: url("../../img/no-picture.svg") center center no-repeat var(--alt-box-bg-color, #f1f1f1); }

.news-article__content {
  line-height: 1.625em; }
  .news-article__content img {
    max-width: 100% !important;
    height: auto !important; }
