.site-guide-card {
  background: var(--bottom-no-sidebar-background-color);
  padding-bottom: 85%;
  border-radius: 12px; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .site-guide-card {
      padding-bottom: 115%; } }
  .site-guide-card svg {
    width: 80%; }
